/* Colour scheme settings */
/* Default */
:root
{
  --col-background: black;
  --col-fallback: white;
  --col-text: white;
  --col-border: #808080;

  --col-label: #ccc;
  --col-label-border: #ccc;
  --col-label-fill: #111;

  --col-node-background: #262626;
  --col-node-resize: #ccc;
  --col-node-pin-border: #d4aa00;

  --col-panel-bg: #4b4b4b;
  --col-panel-border: #888;
  --col-pin-fill: black;
  --col-pin-fill-pinned: white;
  --col-info-input-bg: #222;
  --col-info-input-focus: white;
  --col-menu-border: #888;
  --col-menu-border-highlight: white;
  --col-menu-fill: #222;
  --col-menu-item-fill: #141414;
  --col-menu-item-text: #4ecac2;
  --col-menu-child-title: white;

  --col-delete: #c10000;
  --col-delete-animation: #ef3030;

  --col-number-type: #4ecac2;
  --col-trigger-type: #a0f0a0;
  --col-audio-type: #fcc2ff;
  --col-colour-type: #fdfd96;
  --col-frame-type: #b19cd9;
  --col-dataset-type: #ffb347;
  --col-midi-type: #ff6961;
  --col-waveform-type: #84b4c8;
  --col-filter-mode-type: #aec6cf;
  --col-oscilloscope-slope-type: #c23b22;

  --col-knob-background: #808080;
  --col-knob-overlay: #000;
  --col-button-fill: #808080;
  --col-button-border: #808080;
  --col-selector-background: #262626;

  --col-notif-bg: #262626;
}

/* Light theme */
:root.theme-light
{
  --col-background: white;
  --col-fallback: black;
  --col-text: black;
  --col-border: #111;

  --col-label: #444;
  --col-label-border: #111;
  --col-label-fill: #ccc;

  --col-node-background: #ddd;
  --col-node-resize: #ccc;
  --col-node-pin-border: #aa6c39;

  --col-panel-bg: #c6c6c6;
  --col-panel-border: #111;
  --col-pin-fill: white;
  --col-pin-fill-pinned: black;
  --col-info-input-bg: #222;
  --col-info-input-focus: white;
  --col-menu-border: #888;
  --col-menu-border-highlight: #4ecac2;
  --col-menu-fill: #222;
  --col-menu-item-fill: #141414;
  --col-menu-item-text: #4ecac2;
  --col-menu-child-title: black;

  --col-delete: #c10000;
  --col-delete-animation: #ef3030;

  --col-number-type: #4ecac2;
  --col-trigger-type: #a0f0a0;
  --col-audio-type: #fcc2ff;
  --col-colour-type: #fdfd96;
  --col-frame-type: #b19cd9;
  --col-dataset-type: #ffb347;
  --col-midi-type: #ff6961;
  --col-waveform-type: #84b4c8;
  --col-filter-mode-type: #aec6cf;
  --col-oscilloscope-slope-type: #c23b22;

  --col-knob-background: #808080;
  --col-knob-overlay: #fff;
  --col-button-fill: #ddd;
  --col-button-border: #808080;
  --col-selector-background: #ddd;

  --col-notif-bg: #ddd;
}

#container
{
  width: 100%;
  height: 100%;
}

#buttons
{
  height: 32px;
  width: 100%;
  position: absolute;
}

#buttons .app-button
{
  display: inline-block;
  margin: 2px;
  width: 40px;
  height: 40px;
}

#buttons .app-button.back
{
  float: right;
}

#buttons .fileLoadInput
{
  display: none;
}

#buttons .app-button.disabled
{
  opacity: 0.4;
}

@keyframes delayedShow
{
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

#buttons .button-label
{
  position: absolute;
  color: var(--col-label);
  background-color: var(--col-label-fill);
  border: solid 2px var(--col-label-border);
  padding: 2px;
  margin-top: 10px;
  pointer-events: none;
  animation: delayedShow 2s;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--col-background);
}
body::-webkit-scrollbar-thumb
{
  background-color: #222;
}

body::-webkit-scrollbar-corner
{
  background-color: var(--col-background);
}
