/* Colour scheme settings */
/* Default */
:root
{
  --col-text: white;
  --col-node-border: #888;
  --col-node-fill: #888;
  --col-label: #ccc;
  --col-label-border: #ccc;
  --col-label-fill: #111;
  --col-menu-border: #888;
  --col-menu-border-highlight: white;
  --col-menu-fill: #222;
  --col-menu-item-fill: black;
  --col-menu-item-text: #4ecac2;
  --col-pin-fill: black;
  --col-pin-fill-pinned: white;
  /* UI 2.0 **/
  --col-background: black;
  --col-default-background: #141414;
  --col-border: #808080;
  --col-delete: #c10000;
  --col-delete-animation: #ef3030;
  --col-fallback: white;
  --col-number-type: #4ecac2;
  --col-trigger-type: #a0f0a0;
  --col-audio-type: #fcc2ff;
  --col-colour-type: #fdfd96;
  --col-frame-type: #b19cd9;
  --col-dataset-type: #ffb347;
  --col-midi-type: #ff6961;
  --col-waveform-type: #84b4c8;
  --col-filter-mode-type: #aec6cf;
  --col-oscilloscope-slope-type: #c23b22;
  --col-node-background: #262626;
  --col-knob-background: #808080;
  --col-knob-overlay: #262626;
  --col-button-fill: #808080;
  --col-selector-background: #262626;
  --col-node-resize: #ccc;
  --col-node-pin-border: #d4aa00;
  --col-info-bg: #4b4b4b;
  --col-info-border: #888;
  --col-info-input-bg: #222;
  --col-info-input-focus: white;
}

/* Light theme */
:root.theme-light
{
  --col-background: white;
  --col-text: black;
  --col-default: black;
  --col-label: #444;
  --col-knob-bg: #ccc;
  --col-knob-overlay: white;
  --col-info-bg: #eee;
  --col-label-border: #111;
  --col-label-fill: #ccc;
  --col-menu-border-highlight: #c44;
  --col-menu-fill: #eee;
  --col-menu-item-fill: white;
  --col-menu-item-text: #206060;
  --col-pin-fill: white;
  --col-pin-fill-pinned: black;

  --col-node-background: #ddd;
  --col-fallback: #222;
  --col-number-type: #266;
  --col-trigger-type: #262;
}

#container
{
  width: 100%;
  height: 100%;
}

#buttons
{
  height: 32px;
  width: 100%;
  position: absolute;
}

#buttons .app-button
{
  display: inline-block;
  margin: 2px;
  width: 40px;
  height: 40px;
}

#buttons .app-button.back
{
  float: right;
}

#buttons .fileLoadInput
{
  display: none;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--col-background);
}
body::-webkit-scrollbar-thumb
{
  background-color: #222;
}

body::-webkit-scrollbar-corner
{
  background-color: var(--col-background);
}
