#container
{
    width: 100%;
    height: 100%;
}

#canvas
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: solid 1px #444;
}

#buttons
{
    background-color: black;
}

button
{
    background-color: black;
    color: #888;
    border: none;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: black;
}
body::-webkit-scrollbar-thumb
{
  background-color: #222;
}

body::-webkit-scrollbar-corner
{
    background-color: black;
}
