#graph
{
/*    width: 100%;
    height: 100%;*/
  background-color: black;
}

#nodes,
#edges,
#edge-wrapper,
#dummynode
{
  overflow: visible;
}

.wrapper
{
  width: 5000px;
  height: 5000px;
}

#menu.menu
{
  display: block;
  pointer-events: none;
}

#menu .menu-item
{
  cursor: pointer;
  padding: 3px;
  height: 10px;
  width: 130px;
  line-height: 10px;
  font-size: small;
  border-bottom: 1px solid rgb(187, 187, 187);
}

#menu .menu-parent-wrapper .menu-item
{
  width: 70px;
}

#menu .menu-item:hover
{
  color: #2980b9;
}

#menu .menu-item.selected
{
  color: #2980b9;
  font-weight: bold;
}

#menu .menu-parent-wrapper,
#menu .menu-children-wrapper
{
  background: #ffffff;
  border: 1px solid rgb(187, 187, 187);
  border-bottom: 0px;
  pointer-events: auto;
  margin-right: 1px;
  position: absolute;
}

#menu .sub-menu,
#menu .nav-wrapper
{
  float: left;
}

#menu .sub-menu
{
  border-right: 1px solid rgb(187, 187, 187);
}

#menu .nav-wrapper
{
  width: 10px;
}

#menu .menu-nav
{
  width: 10px;
  height: 10px;
}

#menu-next
{
  position: absolute;
  bottom: 1px;
}

.node
{
  overflow: visible;
}

.node-border
{
  fill: #111;
  fill-opacity: 0.7;
  stroke: #ccc;
  stroke-width: 0.75;
  overflow: visible;
}

#node-resize-wrapper
{
  overflow: visible;
}

.node-resize-icon
{
  fill: #ccc;
  pointer-events: none;
}

.node-resize-boundary
{
  fill: transparent;
}


.node .dragging
{
  fill: #444;
}

.node .resizing
{
  stroke-width: 1.5;
}

.label
{
  fill: #ccc;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.node-label
{
  pointer-events: none;
  font-weight: bold;
  text-anchor: middle;
  fill: #ccc;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.node.pin .node-border
{
  stroke-width: 5;
  stroke: #717171;
}

#node-dummynode
{
  pointer-events: none;
}

#node-dummynode .node-label
{
  display: none;
}

#node-dummyconnector
{
  pointer-events: none;
}

.edge
{
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.2;
  fill: none;
}

.edge.selected
{
  stroke: grey;
  stroke-opacity: 1;
}

.edge.hover
{
  stroke-opacity: 1;
}

.edge.hover.dummy
{
  stroke-opacity: 0.2;
}

.edge-boundary
{
  stroke: transparent;
  stroke-width: 10;
  fill: none;
}

.delete-wrapper
{
  overflow: visible;
}

.node-delete,
.edge-delete
{
  fill: #c10000;
}

.delete-line
{
  stroke: white;
  stroke-width: 1;
  fill: none;
  pointer-events: none;
}

.connector
{
  overflow: visible;
}

.connector-icon
{
  fill: white;
  stroke: none;
  pointer-events: none;
}

.connector-boundary
{
  fill: transparent;
}

.connector-icon.input
{
  fill: #a44;
}

.connector-icon.output
{
  fill: #44c;
}

.connector-icon.disabled
{
  opacity: 0.6;
}

#connector-dummyconnector .connector-icon
{
  opacity: 1;
}

.connector-label-wrapper
{
  overflow: visible;
  pointer-events: none;
}

.connector-label-border
{
  fill: #111;
  fill-opacity: 0.7;
  stroke: #ccc;
  stroke-width: 0.75;
  overflow: visible;
}

.property-wrapper
{
  overflow: visible;
}

.property-wrapper.disabled
{
  pointer-events: none;
  opacity: 0.1;
}

#knob
{
  overflow: visible;
}

.knob-wrapper
{
  overflow: visible
}

.knob-background
{
  fill: #444;
}

.knob-background.full
{
  display: none;
}

.knob-arc
{
  fill: green;
}

.knob-dial
{
  stroke: #8a9597;
  stroke-width: 3px;
}

#knob .knob-arc
{
  fill: #00ff00;
}

#knob.basic .knob-overlay,
#knob.basic .knob-dial
{
  display: none;
}

#knob.basic .knob-background
{
  stroke: blue;
  stroke-width: 5px;
}

#button
{
  overflow: visible;
}

.button-outer
{
  stroke: grey;
  stroke-width: 2px;
}

.button-inner
{
  fill: grey;
}

.button-inner.pressing,
.button-inner.pressing.true
{
  fill: #80ff80;
}

.button-inner.true
{
  fill: #00ff00;
}

#slider
{
  overflow: visible;
}

.slider-background
{
  fill: #444;
}

.slider-value
{
  fill: #00ff00;
}

.slider-dial
{
  stroke: grey;
  stroke-width: 3px;
}

.picker
{
  stroke: white;
  stroke-width: 1px;
  overflow: visible;
}

.picker-indicator
{
  stroke: none;
}

.indicator-top
{
  fill: black;
}

.indicator-bottom
{
  fill: white;
}

.picker-indicator.disabled
{
  fill: grey;
}

#selector
{
  overflow: visible;
}

.selector-position
{
  stroke: #888;
  stroke-width: 1px;
  fill: #444;
}

.selector-position.selected
{
  fill: #00ff00;
}

.selector-dial
{
  stroke: black;
  stroke-width: 3px;
  pointer-events: none;
}

.selector-background
{
  fill: green;
}

#selector.default .selector-label,
#selector.horz .selector-label
{
  display: none;
}

#selector .selector-label
{
  font-size: x-small;
}

#colour-picker .picker-label
{
  font-size: small;
  text-anchor: middle;
  fill: grey;
}

#colour-display,
#colour-picker-wrapper
{
  overflow: visible;
}

#colour-display .colour-display
{
  stroke: #ccc;
  stroke-width: 0.5;
  overflow: visible;
}

.colourPicker.property-wrapper.disabled
{
  pointer-events: auto;
  opacity: 1;
}

#text-display-text
{
  text-anchor: middle;
}

#text-display
{
  overflow: visible;
}

#sequence .sequence-input-border,
#sequence .sequence-items-wrapper-border
{
  stroke: #444;
  stroke-width: 1;
  fill-opacity: 0.7;
}

#sequence .sequence-items-wrapper-border.full-sequence
{
  stroke: white;
}

#sequence .sequence-input-border.inputting
{
  stroke: white;
}

#sequence-text
{
  text-anchor: middle;
}

#sequence,
#sequence-control-wrapper,
#sequence-items-wrapper
{
  overflow: visible;
}

#sequence .sequence-add
{
  fill: #a44;
}

#sequence .sequence-show-icon
{
  fill: green;
}

#sequence .item
{
  font-size: x-small;
}

#sequence .input.label
{
  font-size: small;
}

#curve-wrapper .curve-axis
{
  fill: #444;
}

#curve-points-wrapper,
#curve-area-wrapper
{
  overflow: visible;
}

#curve-area-wrapper
{
  fill: black;
}

#curve-wrapper .curve-point
{
  fill: #00ff00
}

#curve-wrapper .curve-line
{
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.5;
  fill: none;
  pointer-events: none;
}

foreignObject
{
  overflow: visible;
}

#canvas
{
  border: solid 1px #444;
  pointer-events: none;
}

.settings.label
{
  pointer-events: none;
  white-space: pre;
}

.settings.label.centre
{
  text-anchor: middle;
}

.property-label-wrapper
{
  overflow: visible;
  pointer-events: none;
}

.property-label-border
{
  fill: #111;
  fill-opacity: 0.8;
  stroke: #ccc;
  stroke-width: 0.75;
  overflow: visible;
}

.property-label
{
  text-anchor: middle;
}

.property-label-wrapper.colourPicker,
.property-label-wrapper.textDisplay,
.property-label-wrapper.sequence,
.property-label-wrapper.curve
{
  display: none;
}

#info
{
  position: absolute;
  height: auto;
  padding: 5px;
  border: 1px solid white;
  background: #222222;
  top: 30px;
  right: 0px;
}

#info.empty
{
  display: none;
}

#info.hidden
{
  width: 30px;
}

#info.shown
{
  width: 200px;
}

#info .info-visible-icon
{
  width: 20px;
  height: 20px;
}

#info-delete-icon
{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
}

#info .info-text
{
  color: white;
  font-size: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
}

#info-panel .info-text.node
{
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

#info-panel .node.name
{
  font-size: 16px;
  margin-top: 15px;
}

#info-panel .node.id
{
  font-size: 12px;
  pointer-events: auto;
}

#info-panel .node.desc
{
  font-size: 14px;
}

#info-panel .node.section
{
  position: absolute;
  right: 0px;
  top: 40px;
  text-align: right;
  padding-right: 5px;
  margin-top: 0px;
}

#info-panel .node.category
{
  position: absolute;
  left: 0px;
  top: 40px;
  text-align: left;
  padding-left: 5px;
  margin-top: 0px;
}

#info-panel .info-section-wrapper
{
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid white;
  width: 100%;
  height: auto;
}

#info-panel .input-wrapper,
#info-panel .setting-wrapper
{
  width: 196px;
  margin: 2px;
  display: inline-block;
}

#info-panel .input.desc,
#info-panel .setting.desc
{
  float: left;
  max-width: 80%;
  min-width: 50%;
}

#info-panel .colours option:disabled,
#info-panel .sequence option:disabled
{
  color: #000000FE;
}

#info-panel .value-button
{
  font-size: 10px;
}

.node .settings.label
{
  text-anchor: middle;
}

#prefix-property .settings.label
{
  text-anchor: start;
}

#text-display-wrapper
{
  overflow: visible;
}

#ws-canvas-wrapper
{
  pointer-events: none;
}
