#graph
{
    width: 100%;
    height: 100%;
    background-color: black;
}

button
{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.node
{
    fill: black;
    fill-opacity: 0.7;
    stroke: white;
    stroke-width: 1.5;
    overflow: visible;
}

.node.dragging
{
    fill: #331;
}

.label
{
    font-size: small;
    fill: #ccc;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.dummynode
{
    display: none;
}

.dummyconnector
{
    pointer-events: none;
}

.edge
{
    stroke: white;
    stroke-width: 2;
    stroke-opacity: 0.2;
    fill: none;
}

.edge.selected
{
    stroke: grey;
    stroke-opacity: 1;
}

.edge.hover
{
    stroke-opacity: 1;
}

.edge.hover.dummy
{
    stroke-opacity: 0.2;
}

.edge-boundary
{
    stroke: transparent;
    stroke-width: 10;
    fill: none;
}

.edge-delete
{
    fill: red;
}

.delete-line
{
    stroke: white;
    stroke-width: 1;
    fill: none;
    pointer-events: none;
}

.connector
{
    fill: white;
    stroke: none;
    pointer-events: none;
}

.connector-boundary
{
    fill: transparent;
}

.connector.input
{
    fill: red;
}

.connector.output
{
    fill: blue;
}

#knob
{
    overflow: visible;
}

.knob-wrapper
{
    overflow: visible
}

.knob-background
{
    fill: blue;
}

.knob-arc
{
    fill: green;
}

.knob-dial
{
    stroke: black;
    stroke-width: 3px;
}

#knob.default .knob-arc
{
    fill: yellow;
}

#knob.basic .knob-overlay,
#knob.basic .knob-dial
{
    display: none;
}

#knob.basic .knob-background
{
    stroke: blue;
    stroke-width: 5px;
}

#button
{
    overflow: visible;
}

.button-outer
{
    stroke: grey;
    stroke-width: 2px;
}

.button-inner
{
    fill: grey;
}

.button-inner.pressing,
.button-inner.pressing.true
{
    fill: yellow;
}

.button-inner.true
{
    fill: green;
}

#slider
{
    overflow: visible;
}

.slider-background
{
    fill: blue;
}

.slider-value
{
    fill: yellow;
}

.slider-dial
{
    stroke: grey;
    stroke-width: 3px;
}

.picker
{
    stroke: white;
    stroke-width: 1px;
    overflow: visible;
}

.picker-indicator
{
    stroke: none;
}

.indicator-top
{
    fill: black;
}

.indicator-bottom
{
    fill: white;
}

.picker-wrapper-background
{
    stroke: white;
    stroke-width: 1px;
    fill: #383838;
}

#selector,
#selector-value
{
    overflow: visible;
}

.selector-position
{
    stroke: white;
    stroke-width: 1px;
    fill: blue;
}

.selector-position.selected
{
    fill: yellow;
}

.selector-dial
{
    stroke: grey;
    stroke-width: 3px;
}

#selector.default .selector-label,
#selector.horz .selector-label
{
    display: none;
}

#colour-picker .picker-label
{
    font-size: small;
    text-anchor: middle;
    fill: grey;
}
