#graph
{
    width: 100%;
    height: 100%;
    background-color: black;
}

.node
{
    fill: black;
    stroke: white;
    stroke-width: 1.5;
}

.node.dragging
{
    fill: #331;
}

.label
{
    fill: #ccc;
}

.edge
{
    stroke: white;
    stroke-width: 1.5;
    fill: none;
}
